body{
    background-color:darkgray;
}

.Aling{
    text-align: center;
}
h4,h1,h2,h5{
    color:darkslateblue;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Left{
    margin-left: 90%;
}
