body{
    background-color:darkgray;
}

.Aling{
    text-align: center;
}
h1{
  color: darkblue;
}
h4,h2,h5{
    color:darkslateblue;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Left{
    margin-left: 80%;
}
button{
    font-size: 30px;
    width:20%;
    background-color: darkslateblue;
    border-radius: 10px;
    border: none;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .flex-parent {
    display: flex;
  }
  
  .jc-center {
    justify-content: center;
  }
  
  button.margin-right {
    margin-right: 20px;
  }
  div.container {
    text-align: center;
  }
  
  ul.myUL {
    display: inline-block;
    text-align: left;
  }
  a:hover{
    color: rgb(255, 255, 255);
  }